.logo{
    width: 248px;
    right: 248px;
    position: relative;
    left: 8px;
}
input{
    position: relative;
    left: 8px;
    margin: 10px auto;
    width: 250px;
    height: 30px;
}
header{
    grid-area: cabeca;
    width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
body{
    background-color: rgb(134, 134, 134);
}